In [1]:
import pandas as pd

In [2]:
la = pd.read_csv("indivs_Louisiana20.csv", header=0, low_memory = False)

In [36]:
la

,Cycle,Fectransid,Contribid,Contrib,Recipid,Orgname,Ultorg,Realcode,Date,Amount,...,Zip,Recipcode,Type,CmteID,OtherID,Gender,Microfilm,Occupation,Employer,Source
0,2020,4030220201222905162,b0608605603,"THIBODEAUX, JOYCE",N00024790,[24T Contribution],NaN,Z9500,2019-11-11 00:00:00,50,...,70360,DW,24T,C00401224,C00457325,F,202001299174770986,NOT EMPLOYED,NONE,Rept
1,2020,4030220201214335808,r0002360433,"LUNDGREN, MARCUS",N00042308,[24T Contribution],NaN,Z9500,2019-12-26 00:00:00,25,...,70815,DL,24T,C00401224,C00659938,M,202001299171912952,PROCESS ENGINEER,EXXONMOBIL,Rept
2,2020,4030220201222905418,j1001809653,"SIMMONS, DEBRA",N00033492,[24T Contribution],NaN,Z9500,2019-11-12 00:00:00,50,...,70634,DI,24T,C00401224,C00693234,F,202001299174242349,NOT EMPLOYED,NOT EMPLOYED,Rept
3,2020,4030220201214335887,p0003476117,"LLOYD, KATHY",N00000528,[24T Contribution],NaN,Z9500,2019-12-26 00:00:00,27,...,71467,DL,24T,C00401224,C00696948,F,202001299171820152,PROOF AND PROCESSING,EB &T,Rept
4,2020,4030220201222905681,f0010623279,"LITTLEFORD, JOHN",N00001669,[24T Contribution],NaN,Z9500,2019-11-12 00:00:00,100,...,70898,DW,24T,C00401224,C00703975,M,202001299171810253,CONSULTANT,SELF,Rept
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704432,2020,4030220201222824670,j1001204980,"BREWER, RANDALL",C00042366,[24T Contribution],NaN,Z9500,2019-11-06 00:00:00,100,...,71106,DP,24T,C00401224,C00042366,M,202001299168273285,PHYSICISN,WIKLIS KNIGHTON,Rept
704433,2020,4030220201222842681,q0002520916,"THIBODAUX, ELLEN",C00603084,[24T Contribution],NaN,Z9500,2019-11-07 00:00:00,2,...,70114,PI,24T,C00401224,C00603084,F,202001299174770578,NOT EMPLOYED,NOT EMPLOYED,Rept
704434,2020,4030220201222818185,j1001710235,"ELLIOTT, JOHN",N00044183,[24T Contribution],NaN,Z9500,2019-11-05 00:00:00,10,...,70118,DL,24T,C00401224,C00697441,M,202001299169519824,NOT EMPLOYED,NOT EMPLOYED,Rept
704435,2020,4030220201222818256,j1001710235,"ELLIOTT, JOHN",C00562983,[24T Contribution],NaN,Z9500,2019-11-05 00:00:00,10,...,70118,PI,24T,C00401224,C00562983,M,202001299169519823,NOT EMPLOYED,NOT EMPLOYED,Rept
704436,2020,4030220201222835757,p0005097772,"GHEBRETATIOS, GHENET",C00000935,[24T Contribution],NaN,Z9500,2019-11-06 00:00:00,25,...,70810,DP,24T,C00401224,C00000935,U,202001299170046947,NP,LHOA,Rept

In [ ]:
la.info()
# Orgname, Ultorg, Street, City (2), Occupation, Employer contain nulls

In [35]:
# Realcode classifications from the data dictionary
# include as fossil fuels

# E0000	Energy, Natural Resources and Environment
# E1000	Energy production & distribution 
# E1100	Oil & Gas
# E1110	Major (multinational) oil & gas producers
# E1120	Independent oil & gas producers
# E1140	Natural Gas transmission & distribution
# E1150	Oilfield service, equipment & exploration
# E1160	Petroleum refining & marketing
# E1170	Gasoline service stations
# E1180	Fuel oil dealers
# E1190	LPG/Liquid Propane dealers & producers
# E1200	Mining
# E1210	Coal mining
# E1220	Metal mining & processing
# E1230	Non-metallic mining
# E1240	Mining services & equipment
# E1620	Gas & Electric Utilities
# E1630	Independent power generation & cogeneration


#do not include as fossil fuels 

# E1300	Nuclear energy
# E1320	Nuclear plant construction, equipment & svcs
# E1500	Alternate energy production & services
# E1600	Electric Power utilities
# E1610	Rural electric cooperatives
# E1700	Power plant construction & equipment
# E2000	Environmental services, equipment & consulting
# E3000	Waste management
# E4000	Fisheries & wildlife
# E4100	Fishing	E11	Fisheries & Wildlife
# E4200	Hunting & wildlife

In [3]:
list_fossil_fuels = ["E0000", "E1000", "E1100", "E1110", "E1120", " E1140",
                "E1150", "E1160", "E1170", "E1180", "E1190", "E1200", "E1210",
                "E1220", "E1230", "E1240", "E1620", "E1630"]

In [4]:
#subset the donations made by fossil fuel companies and affiliates
la_fossil_fuels = la.loc[la.loc[:, "Realcode"].isin(list_fossil_fuels), :]

In [5]:
# percent of number of donations made by fossil fuel industry
#la_fossil_fuels.shape[0] / la.shape[0]

#percent of amount of donations made by fossil fuel industry
#la_fossil_fuels["Amount"].sum() / la["Amount"].sum()

In [52]:
#total amount of donations made by fossil fuel industry by candidates' party
la.groupby("Recipcode")[["Amount"]].sum()

             Amount
Recipcode
                912
3I             6299
3L            19886
3N             7545
3P            21109
DI           654230
DL          2945403
DN           502285
DP          5026185
DW          4688580
OB             1000
OI          3570297
OL              532
PB          4481262
PI         23100522
PL           192494
PO             8925
Pi            15850
RI          1851826
RL          7775458
RN            12997
RP         29858268
RW          5945693